@charset "utf-8";
* { margin:0; padding:0; }
body { 
	background:url(../img/backheader.png) ; 
	/*height:100%; */
	}
.main_box {
    position: absolute; top:50%; left:50%; margin-top:-260px; margin-left: -300px;
    padding: 30px; width:600px; 
    height:460px;
	background:url(../img/1.png);
    border-radius: 10px;
}
.login_box{
	margin:10px 30px 51px 30px;
	/*border:1px solid #000;*/
}
.login_logo h2{
	font-size:30px;
	font-family:"verdana, geneva, arial, helvetica, sans-serif";
	line-height:40px;
	margin-bottom:20px;
	text-align:center;
}
.login_form {
	padding-top: 20px; 
	font-size: 16px;
}
	
.form-group{
	margin-bottom: 40px;
}
.form-group .t{
	margin-left:30px;
	margin-right:20px;
	text-align: right; 
	cursor: pointer;
	font-size:18px;
	font-family:Arial;
}
.form-group .name_paw{
	width:319px;
	height:20px;
	padding:10px 16px;
	border-radius:5px;
	border:1px solid #00FFFF;
}
.form-group .m{
	margin-left:125px;
}
.form-group .zhuce a{
	text-decoration: none;
	margin-left:120px;
	color:red;
}
.space{
	margin-top:30px;
	padding-top:35px;
	border-top:1px dotted #fff;
	text-align:center;
}
.space .btn{
	width:95px;
	height:45px;
	padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 400;
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
    border-color: #357ebd;
}
.space .b{
	margin-left:-40px
}
.space .btn-primary{
	color: #fff;
    background-color: #428bca;
    /*border-color: #357ebd;*/
}




